*{
    margin: 0px;
    padding: 0px;
}

#world{
    margin-left: 200px;
    margin-top: 50px;
}

.row{
    margin-bottom: -6px;
}

.row div{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
}
.brick{
    background-color: black;
}